<div class="row">
  <div class="col-md-2">
    <h2>页面管理</h2>
    <blockquote>
      <p><%= link_to '添加页面', new_admin_page_path, class: 'btn btn-primary btn-info' %></p>
      <small>对应网站前台的页面</small>
    </blockquote>
    <hr>
  </div>
  <div class="col-md-10">
    <div class="panel panel-info">
      <div class="panel-heading">页面列表</div>
      <% if @admin_pages.empty? %>
        <div class="panel-body">
          <p>还没有任何页面，<a href="/admin/pages/new" class="alert-link">点击这里添加！</a></p>
        </div>
      <% end %>

      <!-- List group -->
      <ul class="list-group">
        <% @admin_pages.each do |page| %>
          <li class="list-group-item">
            <%= page.id %>. &nbsp;
            <%= link_to page.title, edit_admin_page_path(page) %>
            <span class="pull-right">
              <%= link_to get_preview_url(page), target: '_blank' do %>
                <i class="fa fa-eye"></i> 预览
              <% end %> | 
              <%= link_to edit_admin_page_path(page) do %>
                <i class="fa fa-edit"></i> 编辑
              <% end %> | 
              <%= link_to page, method: :delete, data: { confirm: '删除以后无法恢复，确定要删除?' }  do %>
                <i class="fa fa-trash-o"></i> 删除
              <% end %> 
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <%= will_paginate @admin_pages %>
  </div>
</div>
