<h1>页面列表</h1>

<table class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Title</th>
      <th>Short title</th>
      <th>Properties</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Image path</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_pages.each do |admin_page| %>
      <tr>
        <td><%= admin_page.channel.title %></td>
        <td><%= admin_page.title %></td>
        <td><%= admin_page.short_title %></td>
        <td><%= admin_page.properties %></td>
        <td><%= admin_page.keywords %></td>
        <td><%= admin_page.description %></td>
        <td><%= admin_page.image_path %></td>
        <td><%= link_to 'Show', admin_page %></td>
        <td><%= link_to 'Edit', edit_admin_page_path(admin_page) %></td>
        <td><%= link_to 'Destroy', admin_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_admin_page_path %>
