<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <%=link_to '全部', admin_comments_path, class: "list-group-item"%>
        <% Admin::Comment::STATUS.each do |status| %>
          <%=link_to status, admin_comments_path(status: status), class: "list-group-item #{'active' if params[:status] && URI.encode(status) == URI.encode(params[:status])}"%>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <% @comments.each_with_index do |comment, index| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-<%= comment.status == '未处理' ? 'info' : 'default'%>">
              <div class="panel-heading">
                <%= comment.mobile_phone %>
                <span class="pull-right">
                  <%= distance_of_time_in_words_to_now(comment.created_at) %>前 
                  <% if comment.status == '未处理' %>&nbsp;<i class="fa fa-flag orange"> </i><% end %>
                </span>
              </div>
              <div class="panel-body min-height">
                <% if comment.name.present? %>
                  姓名：<%= comment.name%><br/>
                <% end %>
                <% if comment.mobile_phone.present? %>
                  电话：<%= comment.mobile_phone%><br/>
                <% end %>
                <% if comment.address.present? %>
                  地址：<%= comment.address%><br/>
                <% end %>
                <% if comment.datetime.present? %>
                  预订时间：<%= comment.datetime.to_s%><br/>
                <% end %>
                <%= comment.content.to_s.truncate(60) %>
                <%= comment.content2.to_s.truncate(60) %>
              </div>
              <div class="panel-footer">
                <%= link_to edit_admin_comment_path(comment) do %>
                  <i class="fa fa-edit"></i> 查看/修改
                <% end %> 
                <span class="pull-right">
                <%= link_to comment, method: :delete, data: { confirm: '删除以后无法恢复，确定要删除?' }  do %>
                  <i class="fa fa-x2 fa-trash-o"></i>
                <% end %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= will_paginate @comments %>
    </div>
  </div>
</div>
