<div id="admin_help" class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group" data-spy="affix" data-offset-top="100">
        <a href="#" class="list-group-item active">
          RainCMS使用教程
        </a>
        <a href="#about" class="list-group-item"><i class="fa fa-dot-circle-o"></i> RainCMS简介</a>
        <a href="#user" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 用户权限管理</a>
        <a href="#templete" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 如何创建网页模板</a>
        <a href="#channel" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 如何添加栏目</a>
        <a href="#page" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 如何添加页面</a>
        <a href="#search" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 如何添加搜索</a>
        <a href="#tag" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 如何添加标签</a>
        <a href="#form" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 如何添加表单</a>
        <a href="#helper" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 辅助方法汇总</a>
        <a href="#forage" class="list-group-item"><i class="fa fa-dot-circle-o"></i> 关于采集数据</a>
      </div>
    </div>
    <div class="col-md-10">
      <hr class="hr-white"><a name="about"></a>
      <%= render partial: 'about' %>

      <hr class="hr-white"><a name="user"></a>
      <%= render partial: 'user' %>

      <hr class="hr-white"><a name="templete"></a>
      <%= render partial: 'templete' %>

      <hr class="hr-white"><a name="channel"></a>
      <%= render partial: 'channel' %>

      <hr class="hr-white"><a name="page"></a>
      <%= render partial: 'page' %>

      <hr class="hr-white"><a name="search"></a>
      <%= render partial: 'search' %>

      <hr class="hr-white"><a name="tag"></a>
      <%= render partial: 'tag' %>

      <hr class="hr-white"><a name="form"></a>
      <%= render partial: 'form' %>

      <hr class="hr-white"><a name="helper"></a>
      <%= render partial: 'helper' %>

      <hr class="hr-white"><a name="forage"></a>
      <%= render partial: 'forage' %>
    </div>
  </div>
</div>