<%= simple_form_for(@admin_keystore) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-2">
      <h2>参数管理</h2>
      <blockquote>
        <p>
          <%= f.button :submit, '提交保存', class: 'btn btn-lg btn-danger' %><br>
          <small><%= link_to '返回参数列表', admin_keystores_path %></small>
        </p>
        <small>参数为全局设置，请按照教程要求添加</small>
      </blockquote>
      <hr>
    </div>
    <div class="col-md-10">
      <p>&nbsp;</p>
      <div class="form-inputs">
        <%= f.input :key %>
        <%= f.input :value %>
        <%= f.input :description %>
      </div>
    </div>
  </div>
<% end %>
