<%= simple_form_for(@admin_keystore) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :key %>
    <%= f.input :value, input_html: {style: "width: 100%; height: 600px; max-height: 800px;"} %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
