<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_keystore.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @admin_keystore.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_keystore.description %>
</p>

<%= link_to 'Edit', edit_admin_keystore_path(@admin_keystore) %> |
<%= link_to 'Back', admin_keystores_path %>
