<%= simple_form_for(@admin_channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :cate_type %>
    <%= f.input :title %>
    <%= f.input :properties %>
    <%= f.input :default_index %>
    <%= f.input :tmp_index %>
    <%= f.input :tmp_list %>
    <%= f.input :tmp_detial %>
    <%= f.input :keywords %>
    <%= f.input :description %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
