<%= simple_form_for(@admin_channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <label class="string optional control-label" for="admin_channel_typo">内容模型：</label>
    <%= f.select :typo, %W[article image product] %>
    <br>
    <label class="string optional control-label" for="admin_channel_properties">栏目属性：</label>
    <%= f.input :properties, :collection => 
      [
        ['频道封面(栏目本身不允许发布文档)', 1],
        ['列表栏目(允许在本栏目发布文档，并生成文档列表)', 2],
        ['外部连接(在<默认路径>处填写网址)', 3]
      ] %>

    <%= f.input :tmp_index %>
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-sm btn-inline" data-toggle="modal" data-target="#myModal">
      选择模板
    </button>
    <%= f.input :tmp_list %>
    <%= f.input :tmp_detial %>
    <hr>
    <%= f.input :title %>  
    <%= f.input :default_url %>
    <%= f.input :keywords %>
    <%= f.input :description %>
    <%#= f.input :content %>
    <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'simple'}, height: "800px" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form id="modal-form" accept-charset="UTF-8" action="/tagging" data-remote="true" method="post">
          <input name="something" value="Some value" />
        </form>
      </div>
      <div class="modal-footer">
        <button id="modal-form-submit" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button  type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->