<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="author" content="master@inruby.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= content_for?(:title) ? yield(:title) : Admin::Keystore.value_for('site_name') %></title>
    <meta name="keywords" content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : Admin::Keystore.value_for('site_name') %>">
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : Admin::Keystore.value_for('site_name') %>">
    
    <%#= stylesheet_link_tag "frontpage", media: "all", "data-turbolinks-track" => true %>
    <%#= javascript_include_tag "frontpage", "data-turbolinks-track" => true %>
   
    <%= render file: @base_dir + '_head.html' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= Admin::Keystore.value_for('body_css') %>">
    
    <%= render 'layouts/messages' %>

    <% if @page %> 
      <%= puts @base_dir %>
      <%= puts @channel.tmp_detail %>
      <%= render file: @base_dir + @channel.tmp_detail %>
    <% else %> 
      <% case @channel.properties.to_i %>
      <% when 1 %>
        <%= render file: @base_dir + @channel.tmp_index %>
      <% when 2 %>
        <script type="text/javascript">
          window.location.href="<%= @channel.default_url %>" 
        </script>
      <% else %>
        cuwo 
      <% end %>
    <% end %>
    
    <%= yield %>

    <%= render file: @base_dir + '_foot.html' %>
    
  </body>
</html>
